altair==5.1.1
atomicwrites==1.4.0
blinker==1.6.2
branca==0.6.0
brotlipy==0.7.0
cachetools==5.3.1
contourpy==1.1.1
cycler==0.11.0
docopt==0.6.2
folium==0.14.0
fonttools==4.42.1
gitdb==4.0.10
GitPython==3.1.36
inflection==0.5.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.8.0
mdurl==0.1.2
mypy-extensions==0.4.3
numpy==1.25.2
pandas==2.1.0
Pillow==9.5.0
pipreqs==0.4.13
ply==3.11
protobuf==4.24.3
pyarrow==13.0.0
pydeck==0.8.0
pyls-spyder==0.4.0
Pympler==1.0.1
pyparsing==3.1.1
PyQt5==5.15.7
PyQtWebEngine==5.15.4
python-lsp-jsonrpc==1.0.0
pytz-deprecation-shim==0.1.0.post0
rich==13.5.2
smmap==5.0.0
streamlit==1.26.0
streamlit-folium==0.13.0
tenacity==8.2.3
toolz==0.12.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
validators==0.22.0
webencodings==0.5.1
yarg==0.1.9

